:root {
    --montse: 'Montserrat', sans-serif;

    --mexicanrose: #FD0061;
    --brillianrose: #FF6699;
    --raspberryglaze: #FF77AA;
    --quicksilver: #A1A1A1;
    --mediumdarkgray: #4D4D4D;
    --darkgray: #282828;
    --chinesesilver: #CCCCCC;
    --darkpastelgreen: #12CA98;

    --pastel-blue: #0091FF;
    --pastel-yellow: #F7BD64;
    --pastel-pink: #EA5E93; 
    --grisacean: #9496A3;
}

html {
    font-size: 62.5%;
    box-sizing: border-box; /** Sin que el contenido se vea afectado por el modelo caja **/
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    font-family: var(--montse);
    /**background-image: linear-gradient(to bottom, var(--darkgray) 0%, var(--mediumdarkgray) 100%); <- degradado**/
    background-color: var(--darkgray);
    color: var(--chinesesilver);
}

h1, h2 {
    text-align: center;
}

h1.title {
    font-size: 3rem;
    font-weight: 400;
}

.title span {
    font-size: 2rem;
    font-weight: 700;
}

section h2.title {
    font-size: 4rem;
    margin: 0 auto;
}

.main-nav-bg {
    background-color: var(--raspberryglaze);
}

.main-nav-container {
   max-width: 120rem;
   margin: 0 auto;
}

.main-nav {
    display: flex;
    flex-direction: column;
}

.main-nav > a {
    padding: 1.5rem;
    text-decoration: none;
    text-align: center;
    color: white;
}

.main-nav a:hover {
    background-color: var(--brillianrose);
}

.section-title {
    background-image: url(../img/py8T3X.jpg);
    background-position: center;
    background-size: cover;
    height: 450px;
    position: relative;

    margin-bottom: 2rem;
}

.section-h2 {
    font-size: 4rem;
}

.section-title-container {
    position: absolute;
    background-color:rgba(0,0,0,0.75);
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center; /* centrado horizontal si flex-dir = column*/
    justify-content: center; /* centrado vertical si flex-dir = column*/
}


.my-location {
    display: flex;
}

.btn {
    color: var(--chinesesilver);
    text-decoration: none;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    background-color: var(--brillianrose);
    border-radius: 1.5rem;
    padding: 1rem 1.5rem;
    margin-top: 4rem;
    width: 80%;   
}

.btn:hover {
    background-color: var(--raspberryglaze);
}

.shadow {
    /* -webkit-box-shadow: -4px 9px 7px 1px rgba(0,0,0,0.75); /* Chrome prefix*/
    /* -moz-box-shadow: -4px 9px 7px 1px rgba(0,0,0,0.75); /* IEE  prefix*/
    box-shadow: -4px 9px 7px 1px rgba(0,0,0,0.75); /* Standar 95% */

    background-color: var(--mediumdarkgray);
    border-radius: .5rem;
    padding: 2rem;
    max-width: 90%;
}

.skill-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skill-section p {
    line-height: 2.5;
    text-align: center;
}

.icons-container {
    height: 15rem;
    width: 15rem;
    background-color: var(--darkpastelgreen);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.coding h3 {
    color: var(--pastel-blue);
}

.databases h3 {
    color: var(--pastel-yellow);
}

.learner h3 {
    color: var(--raspberryglaze);
}

.footer-text {
    text-align: center;
    font-style: italic;
}