:root {
    --montse: 'Montserrat', sans-serif;

    --mexicanrose: #FD0061;
    --brillianrose: #FF6699;
    --raspberryglaze: #FF77AA;
    --quicksilver: #A1A1A1;
    --mediumdarkgray: #4D4D4D;
    --darkgray: #282828;
    --chinesesilver: #CCCCCC;
    --darkpastelgreen: #12CA98;

    --pastel-blue: #0091FF;
    --pastel-yellow: #F7BD64;
    --pastel-pink: #EA5E93; 
    --grisacean: #9496A3;
}

html {
    font-size: 62.5%;
    box-sizing: border-box; /* Box Model */
}

*, *:before, *:after {
    box-sizing: inherit; /* Box Model */
}

body {
    font-size: 16px;
    font-family: var(--montse);
    /**background-image: linear-gradient(to bottom, var(--darkgray) 0%, var(--mediumdarkgray) 100%); **/
    background-color: var(--darkgray);
    color: var(--chinesesilver);
}

h1, h2 {
    text-align: center;
}

h1.title {
    font-size: 3rem;
    font-weight: 400;
}

.title span {
    font-size: 2rem;
    font-weight: 700;
}

section h2.title {
    font-size: 4rem;
    margin: 0 auto;
}

.main-nav-bg {
    background-color: var(--raspberryglaze);
}

.main-nav-container {
   max-width: 120rem;
   margin: 0 auto;
}

.main-nav {
    display: flex;
    flex-direction: column;
}

.main-nav > a {
    padding: 1.5rem;
    text-decoration: none;
    text-align: center;
    color: white;
}

.main-nav a:hover {
    background-color: var(--brillianrose);
}

.section-title {
    background-image: url(../img/py8T3X.jpg);
    background-position: center;
    background-size: cover;
    height: 35rem;
    position: relative;
    margin-bottom: 2rem;
}

.section-h2 {
    font-size: 4rem;
}

.section-title-container {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center; /* horizontal */
    justify-content: center; /* vertical */
}

.my-location {
    display: flex;
    align-items: flex-start;
}

.btn {
    color: var(--chinesesilver);
    text-decoration: none;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    background-color: var(--brillianrose);
    border-radius: 1.5rem;
    padding: 1rem 1.5rem;
    margin-top: 4rem;
    width: 80%;
}

.btn:hover {
    background-color: var(--raspberryglaze);
}

.shadow {
    /* -webkit-box-shadow: -4px 9px 7px 1px rgba(0,0,0,0.75); /* Chrome prefix*/
    /* -moz-box-shadow: -4px 9px 7px 1px rgba(0,0,0,0.75); /* IEE  prefix*/
    box-shadow: -4px 9px 7px 1px rgba(0,0,0,0.75); /* Standar 95% */

    background-color: var(--mediumdarkgray);
    border-radius: .5rem;
    padding: 2rem;
    max-width: 80%;
}

.skills {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    text-align: center;
}

.skill-section {

}

.coding {
    padding-left: 50%;
}

.databases {
    grid-area: 1 / 3;
    padding-right: 50%;
}

.learner {
    grid-area: 2 / 2;
}

.footer-text {
    text-align: center;
    font-style: italic;
}